<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('page/templates/head')  %> 
    <title>QUIZZDOM | Admin</title>
</head>
<body>
    <%- include('page/templates/header-shown') %>
    <main>
        <div class="container">
            <div class="fond">
                <div class="cont_add-new_quiz">
                    <h1 class="h1">Hello, Amanda123!</h1>
                    <a href="#" class="btn-primary">+ Add new quiz</a>
                </div>
                <p class="p_admin">Quizes you’ve already added:</p>
                <div class="flex-quiz">
                    <% for(q of quiz) { %> 
                        <div class="quizz ad">
                            <div class="quizz_content admin">
                                <h2 class="h2-quiz"><%= q.Quiz_Name %></h2>
                                <p class="p-quiz"><%= q.Quiz_Description%></p>
                                <a data-id="<%= q.Quiz_ID%>" href="" class="btn-secondary edit">Edit</a>
                                <a data-id="<%= q.Quiz_ID%>" href=""  class="btn-secondary delete">Delete</a>
                            </div>
                        </div>
                  
                    <% } %> 
                  
                </div>
            </div>
        </div>
    </main>
    <script src="./assets/script/admin.js"></script>
</body>
</html>