<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('page/templates/head')  %> 
    <title>QUIZZDOM | Admin</title>
</head>
<body>
    <%- include('page/templates/header-shown') %>
    <main>
        <div class="container">
            <div class="fond">
                <div class="cont_add-new_quiz dflex">
                    <h1 class="h1">Hello, <%= locals.session.userName %> </h1>
                    <a href="new-quiz" class="btn-primary btn-add-admin">+ Add new quiz</a>
                </div>
                <p class="p_admin">Quizes you’ve already added:</p>
                <div class="flex-quiz">

                    <% for(q of quiz) { %> 

                        <div class="quizz ad">
                            <div class="quizz_content admin">
                                <h2 class="h2-quiz"><%= q.Quiz_Name %></h2>
                                <p class="p-quiz"><%= q.Quiz_Description%></p>
                                <div class="admin__btn-wrapper dflex">
                                    <!-- <a href="quiz/<%= q.Quiz_ID%>"  class="btn-secondary edit">Edit</a> -->
                                    <a data-id="<%= q.Quiz_ID%>" href="update-quiz/<%= q.Quiz_ID%>" class="btn-secondary edit">Edit</a>
                                    <a href="" data-id="<%= q.Quiz_ID%>"  class="btn-secondary delete">Delete</a>
                                </div>
                            </div>
                        </div>
                  
                    <% } %> 
                  
                </div>
            </div>
            <!-- overlay and modal -->
            <div id="overlay" class="dnone">
                <div id="modal-delete" class="dnone">
                    <h3>Are you sure you want to delete this quiz?</h3>
                    <div class="modal-btn-wrapper dflex">
                        <a href="" class="btn-primary red" data-id="<%= q.Quiz_ID%>" id="confirm-btn">Delete</a>
                        <a href="#" class="btn-primary" id="mistake-btn">Oops, mistake</a>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <script src="./assets/script/admin.js"></script>
</body>
</html>