<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('page/templates/head')  %> 
    <title>QUIZZDOM | Score</title>
</head>
<body>
    <%- include('page/templates/header-shown') %>
    <main>
        <div class="container">
            <div class="fond">
                <div class="cont_add-new_quiz">
                    <h1 id = "iduser" class="h1" data-user="<%= locals.session.user %>"> Hello, <%= locals.session.userName %> </h1>
                </div>
                <p class="p_admin">Quizes you’ve already done:</p>
                <div class="flex-quiz">
                    <% for(q of quiz) { %> 
                    <div class="quizz ad" data-id="<%= q.Quiz_ID %>">
                        <div class="score_content" >
                            <h2 class="h2-quiz ad"  >Quiz <%= q.Quiz_Name %></h2>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p class="bestScores"> </p>
                            </div>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p class="avrTime">Average time: 5.84s per question</p>
                            </div>
                        </div>
                    </div>
                    <% } %> 
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/script/score.js"> </script>
</body>
</html>